<div class="feature feature-hero">
  <div class="container">
    <h1 class="feature-heading">
      <span>Flow is</span> <br class="hidden-lg-up"> a static type <br class="hidden-lg-up"> checker for <br class="hidden-lg-up"> <span>JavaScript.</span>
    </h1>

    <a class="feature-btn hidden-sm-down" href="/en/docs/getting-started/"><span>Get Started</span></a>
    <a class="feature-btn hidden-sm-down" href="/en/docs/install/"><span>Install Flow</span></a>

    <iframe class="gh-btn" src="https://ghbtns.com/github-btn.html?user=facebook&amp;repo=flow&amp;type=star&amp;count=true&amp;size=large" scrolling="0" title="GitHub Stars" width="160px" height="30px" frameborder="0">
    </iframe>

    <div class="feature-hero-text mt-2">
      Current Version:
      <strong class="navbar-text">
        <a href="https://github.com/facebook/flow/releases/tag/v0.55.0">
          v0.55.0
        </a>
      </strong>
    </div>
  </div>
</div>
